@model List<Fakefit.Models.register>
@{
    ViewBag.Title = "InformationUser";
    Layout = "~/Views/Shared/_UyeLayout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Bilgilerim</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="@Url.Action("IndexInstructor","Default")">Ana Sayfa</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Bilgilerim</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

@foreach (var register in Model)
{


<!-- Testimonial Start -->
<div class="container-fluid position-relative testimonial mt-5" style="margin-bottom: 90px;">
    <div class="container">
        <div class="row px-3 align-items-center">
            <div class="col-md-6 bg-secondary">
                <div class="d-flex align-items-center px-3" style="min-height: 450px;">
                    <div id="carouselId" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="d-flex align-items-center mb-4 text-white">
                                    <img width="80" height="80" class="rounded-circle bg-dark p-2" src="~/Content/img/testimonial-1.jpg"
                                         alt="Image">
                                    <div class="pl-4">
                                        <h4 class="text-primary">@register.name @register.surname</h4>
                                        <p class="m-0">@register.user</p>
                                    </div>
                                </div>
                                <div class="position-relative border bg-dark text-white mb-5 p-4 row" style="width:500px ; height:250px">
                                    <div class="col-md-5">
                                        <h5><p class="text-success text-center">Boy</p></h5>
                                        <h5><p class="text-success text-center">Kilo</p></h5>
                                        <h5><p class="text-success text-center">Kayıt Başlangıç tarihi</p></h5>
                                        <h5><p class="text-success text-center">Kayıt Bitiş Tarihi</p></h5>
                                    </div>
                                    <div class="col-md-2 text-success text-center">
                                        <p>=></p>
                                        <p>=></p>
                                        <p>=></p>
                                        <p>=></p>
                                    </div>
                                    <div class="col-md-5 text-center">
                                        <p>@register.tall</p>
                                        <p>@register.kg</p>
                                        <p>@register.startdate</p>
                                        <p>@register.finishdate</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pl-md-3 d-none d-md-block">

                    <h4 class="display-4 mb-4 text-white font-weight-bold">Sağlıklı yaşamak sizin elinizde</h4>
                    <p class="m-0 text-white">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

}
<!-- Testimonial End -->
